# compile related
bin/
build/
lib/

# document related
_build/
html/
xml/

# example related
dump/

# python related
__pycache__/
*.pyc

# tools related
tools/*.done
tools/**/

# misc
*~
*.swp
\#*#
.\#*
