# compile related
bin/
build/
lib/

# document related
_build/
html/
xml/

# example related
dump/

# tools related
tools/*.done
tools/bats/
tools/cpplint/
tools/doxygen/
tools/sptk/
tools/venv/

# misc
*~
*.swp
\#*#
.\#*
